html { height:100%; width:100%; }
html body { background:#000000; font-family:Arial; font-size:12px; height:100%; margin:0px; overflow:hidden; width:100%; }
html a { text-decoration:none; }
html p { margin:0px; padding:0px; }
html ul { border:none; list-style:none; margin:0px; padding:0px; }
html ul li { border:none; list-style:none; margin:0px; padding:0px; }
html table { border:none; border-collapse:collapse; margin:0px; padding:0px; }
html tr { border:none; border-collapse:collapse; margin:0px; padding:0px; }
html td { border:none; border-collapse:collapse; margin:0px; padding:0px; }

.jquery-slider-bar { box-shadow:3px 3px 8px #000000 inset; cursor:pointer; }
.jquery-slider-innerbar { box-shadow:3px 3px 8px #000000 inset; }

video { background:#000000 url(../images/loading.gif) no-repeat center; height:100%; width:100%; }

div#header { background:url(../images/videobackground.jpg) repeat-x; background-size:100% 100%; border-bottom:solid 1px #333333; left:0px; position:absolute; top:0px; width:100%; }
div#header a.button { background:blue; color:#ffffff; cursor:default; border-radius:5px; display:block; float:left; height:70%; text-align:center; width:10%; }
div#header div.progress { float:left; }
div#header span.timer { color:#ffffff; display:block; float:left; text-align:center; }

div#control { border-radius:5px; box-shadow:#999999 0px 0px 2px; margin:0px auto; overflow:hidden; position:relative; }
div#control div.button { margin:0px auto; position:relative; z-index:1; }
div#control div.button a.button { background:no-repeat left top; background-size:auto 100%; cursor:default; display:block; float:left; height:80%; text-shadow:10px 10px 10px #ffffff; }
div#control div.button a.button.play { background-image:url(../images/play.png); }
div#control div.button a.button.play.pause { background-position-x:right; }
div#control div.button a.button.nav { background-image:url(../images/playnav.png); }
div#control div.button a.button.nav.next { background-position-x:right; }
div#control div.button a.button.disabled { opacity:0.5; }
div#control div.volumn { background:#ffffff; margin:0px auto; margin-top:10px; position:relative; z-index:2; }
div#control div.background { background:url(../images/videobackground.jpg) repeat-x; background-size:100% 100%; height:100%; left:0px; opacity:0.8; position:absolute; top:0px; width:100%; z-index:0; }

div#repeat { background:#ffffff; position:absolute; z-index:3; }
div#repeat a.outcrop { background:#ffffff url(../images/outcrop.png) no-repeat left center; background-size:auto 7%; cursor:default; position:absolute; }
div#repeat a.close { background:red; cursor:default; display:block; float:right; }
div#repeat a.close:hover { background:blue; }
div#repeat div.subtitle { height:100%; overflow:hidden; }

table.subtitle { width:100%; }
table.subtitle td.start { border-right:solid 1px #ff0000; text-align:left; }
table.subtitle td.end { border-left:solid 1px #ff0000; text-align:right; }
table.subtitle td.text { background:red; background-size:auto 100%; text-align:center; }
