<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="iRepeaterDbContext" connectionString="metadata=res://*/iRepeaterDbContext.csdl|res://*/iRepeaterDbContext.ssdl|res://*/iRepeaterDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Microsoft;initial catalog=Interation.iRepeater;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>