<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <downloaded>
        <product id="1" name="Kungfu Panda" category="video">
            <resources>
                <add name="Kungfu Panda A" src="resources/videos/1/a.m4v" type="video/mp4" />
                <add name="Kungfu Panda B" src="resources/videos/1/b.mov" type="video/mov" />
            </resources>
            <subtitles>
                <add name="Kungfu Panda English" src="resources/subtitles/" />
            </subtitles>
        </product>
    </downloaded>
</configuration>
